@import url(http://weloveiconfonts.com/api/?family=fontawesome);

body {
  padding-left: 250px;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

/*Sidebar style*/
div#sidebar {
  min-height: 100vh;
  background-color: #21242E;
  padding: 0;
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  box-shadow: 10px 0px 15px rgba(33, 36, 46, 0.4);
  z-index: 10;
}

/* ----------| Menu item*/
#sidebar .list-group a {
  height: 50px;
  color: white;
}

/* ----------| Submenu item*/
#sidebar .list-group li.list-group-item {
  background-color: #21242E;
}

#sidebar .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* ----------| Separators */
.sidebar-separator-title {
  background-color: #21242E;
  height: 35px;
}

.sidebar-separator {
  background-color: #21242E;
  height: 25px;
}

.logo-separator {
  background-color: #21242E;
  height: 60px;
}

a.bg-dark {
  background-color: #21242E !important;
}


/*Fixed top bar style*/
div#topbar {
  width: 100%;
  z-index: 1;
  padding: 10px 20px 10px 260px;
  background-color: #21242E;
  box-shadow: 10px 10px 15px rgba(33, 36, 46, 0.4);
  position: fixed;
  height: 8%;
  top: 0;
  left: 0;
  color: #FFFFFF;
  font-size: 16px;
}

/*Unhide content from top bar*/
div#content {
  top:8%;
  position: relative;
  margin-bottom: -60px;
  overflow: hidden;
  height: 92%;
  padding: 50px 50px 50px 50px;
  background: #3b4148;
  width: 100%;
}

/*Scroll fix (not over topbar)*/
div.pre-scrollable {
  max-height: 100vh;
  overflow-y: scroll;
}


/*Login buttons*/
.btn-default:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary:hover {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

.btn-primary {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
}

.btn-pink {
  border: 2px solid #ea2868;
  color: rgba(255, 255, 255, 0.75);
  background: #ea2868;
}

.btn-pink:hover {
  color: rgba(255, 0, 9, 0.75);
}

.btn-blue:hover {
  color: rgba(55, 141, 255, 0.75);
}

.btn-blue {
  border: 2px solid rgba(1, 90, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  background: #015aff;
}


/*=========LOGIN style =====*/
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/*!* ---------- GENERAL ---------- *!*/
/** {*/
/*  -moz-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/
/**:before, *:after {*/
/*  -moz-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/

body {
  background: #2c3338;
  color: #94999d;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.loginContainer {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#login {
  width: 280px;
  align-self: center;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #72767a;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"], input[type="email"]  {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #72767a;
  margin-bottom: 1em;
  padding: 0 8px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea2868;
  color: #e0e0e0;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
  width: 280px;
  transition: all 0.1s ease 0s;
}

#login form input[type="submit"]:hover {
  background-color: #ff669c;
  transform: scale(1.05);
  transition: all 0.1s ease 0s;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}


/*END =========LOGIN style =====*/
/*======= Round buttons ======*/


.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 24px;
  line-height: 1.33;
}


.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle:hover
{

  transform: scale(1.2) !important;
  transition: all 0.1s ease 0s !important;
}

.card-dark
{
  border-radius: 15px 15px 15px 15px !important;
  overflow: hidden;
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateY(-55%) translateX(-50%);
}


.vcenter{
  vertical-align: middle;
}


.fancy-input
{
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 22px;
  -webkit-appearance: none;
  color: #969a9e;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #3b4148;
  border-radius: 3px 3px 3px 3px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 8px;
  width: 230px;
}

/*Custom select*/


select {

  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 22px;
  -webkit-appearance: none;
  color: #969a9e;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #3b4148;
  border-radius: 3px 3px 3px 3px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 8px;
  width: 230px;
  font-weight: bold;
}


.js-pscroll {
  position: relative;
  overflow: hidden;
}

.ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}
.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1366px;

}

  .container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
  border-bottom: 1px solid #4e4e4e;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 75vh;
  overflow: auto;
}


/*==================================================================
[ Ver3 ]*/

.table100.ver3 {
  background-color: #393939;
}

.table100.ver3 th {
  font-size: 15px;
  color: white;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #17a2b8;
}

.table100.ver3 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #2d3037;
}


/*---------------------------------------------*/

.table100.ver3 {
  margin-bottom: 0px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.3);
}

.ps__rail-y {
  right: 5px;
}

.ps__rail-y::before {
  background-color: rgba(0, 0, 0, 0.03);;
}

.ps__rail-y .ps__thumb-y::before {
  background-color: #17a2b8;
}
